.center {
  margin: auto;
  padding: 20px;
}

body {
  background-image: url('./assets/paul_bg.png');
}

/* #root {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
} */


.image_over{
  margin-top: -66px !important;
}