.center {
  margin: auto;
  padding: 70px 30px;
}

#root {
  background-image: url('./assets/paul_bg.png');
  height: 100%;
}

.paul_img {
  background-position: right top;
}

@media only screen and (max-width: 600px) {
  .img {
    width: 280px !important;
  }
  .center {
    margin: auto;
    padding: 20px 30px;
  }
}

.img {
  display: block;
  width: 415px;
  height: auto;
  bottom: 0;
}