.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

body {
  background-image: url('./assets/paul_bg.png');
}

#root {
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

h2{
  color: #ffff !important;
}